body {
	font:normal 62.5%/1.7em "Trebuchet MS", Helvetica, sans-serif;
	color:#807f83;
	margin:0 0 0 0;
	padding: 0;
	background: #efefef;
	text-align:center;
}


a, a:visited {
    color:#ee2c74;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

strong {
    font-weight:bold;
}

p, blockquote{
    margin: 0 0 15px 0;
}

.wrapper {
	font-size: 1.2em;
	width: 880px;
	margin: auto;
	text-align:left;
	line-height:1.8em;
}
.wrapper .leftColumn {
	font-size: 1.4em;
	line-height:2em;
	float:left;
	width:45%;
	padding:10px;
	border:0px solid black;
}
.wrapper .rightColumn {
	font-size: 1.4em;
	line-height:2em;
	float:right;
	width:45%;
	padding:10px;
	border:0px solid black;
}
.wrapper .clear {
	clear:both;
}


h1 {
	font-size: 4.0em;
	color: #000;
	margin: 30px 0 0 0;
}

h2 {
	font-size: 1.2em;
	color: #000;
	margin: 10px 0 25px 0;
}

h3{
	font-size: 1.4em;
	color: #000;
	margin: 0 0 5px 0;
}

.columns {
	margin: 15px 0 15px 0;
	
	border-bottom:1px solid #ccc;
	background: transparent no-repeat 100% 100%;
	border-top:1px solid #ccc;
	padding: 10px 0 10px 0;
}

.columns .left{
	float:left;
	width: 630px;
	margin: 0 0 0 10px;
	
}
.columns .right{
	float:left;
	width: 210px;
	margin: 0 0 0 10px;
	
}

.columns .app{
	float: left;
	width: 210px;
	margin: 0 0 15px 10px;
	text-align:center;
}

.mask {
	background:url(../images/mask100.png) no-repeat;
	width: 102px;
	height: 103px;
}
.kk {
	background:url(../images/icon_kk.jpg) no-repeat;
	margin: 0 0 0 50px;
	width: 100px;
	height: 100px;
}
.ca {
	background:url(../images/icon_ca.jpg) no-repeat;
	margin: 0 0 0 50px;
	width: 100px;
	height: 100px;
}
.bha {
	background:url(../images/icon_bha.jpg) no-repeat;
	margin: 0 0 0 50px;
	width: 100px;
	height: 100px;
}
.gg {
	background:url(../images/icon_gg.jpg) no-repeat;
	margin: 0 0 0 50px;
	width: 100px;
	height: 100px;
}


.download , a:visited.download {
	float:right;
	display:block;
	background: #000 url(../images/carousel_download_bg.gif) no-repeat 9px 0.8em;
	padding: 10px 10px 10px 35px;
	font-size: 1.1em;
	color: #fff;
	margin: 20px 20px 0 0;
	border:6px solid #eee;
}
a:hover.download {
	border-color: #ccc;
}

.download em{
	display:block;
	font-size: 0.9em;
}

ul {
	list-style:disc;
	margin:-9px 0 9px 14px;
}

ul.music {
	list-style-image: url('../images/bullet_music.png');
	margin: 10px 30px 15px 15px;
}


.copyright {
	text-align:right; 
	font-size:0.8em;
	font-style:italic;
}

.documentation {
	color: #666;	

}

.documentation  p{
	margin: 0 0 0 0;
	padding: 10px 0 10px 0;
	border-bottom: 1px dotted #ccc;
}

.documentation  p.alt{
	background: #eee;	
}

.documentation  strong{
	float:left;
	width: 50px;
	font-size: 1.5em;
	color: #000;
	text-align:center;
}
.documentation  span{
	float:left;
	width: 800px;
	display:block;
}












